//Variables de colores
$colores:(
    titulo: #fff,
    sub-titulo: #cdb996,
    servicios:  #DEADA1,
    menu-hamb: #993300,
    fondo-pie: #787b7ef5,
    letra-pie: #e5dbcf,
    pie: #F0D4A1,
    pie-enlace-visitado: #000, 
    letra: #F69A98,
    letra-menu: #fff,
    letra-menu-servicio: #787b7ef5,
)
