@use '_commons' as c;

//Inicio media query para desktop
@media screen and (min-width: 1280px) {
    #contenedor {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 200px 2fr 200px;
        grid-template-areas:
            "cabeza"
            "principal"
            "pie"
        ;
    }

    #cabeza {
        width: 100%;
        margin-top: 50px;
    }

    .encabezado {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: 100px;
        position: fixed;
        top: 0;
        background-color: #fff;
    }

    .encabezado__logo {
        width: 300px;
    }

    .encabezado__menu {
        width: 100%;
        height: 100px;
    }

    .encabezado__menu ul {
        width: 95%;
        height: 100px;
        left: 0;
        position: sticky;
        top: 0;
        color: #c0c8cfb9;
        margin: 0;
        background: #fff;

        li {
            display: inline-block;
            margin: 50px 20px;

            a {
                text-decoration: none;
                color: rgb(128, 124, 124);
                transition: background-color .10s;

                &:hover {
                    color: #fff;
                    border-bottom: 3px solid;
                    background-color: rgb(226, 146, 93);

                }
            }
        }
    }

    .checkbtn {
        display: none;
    }

    h1 {
        margin: 100px;
        font: 90px 'Signerica Medium', sans-serif;
    }

    h2 {
        display: flex;
        width: auto;
        justify-content: center;
        align-items: center;
        font: bolder 30px sans-serif;
    }

    #fotos {
        display: flex;
        align-items: center;
        width: 95%;
        margin: 15px 25px;
    }

    .fotos__inicio__ok {
        font-family: sans-serif;
        margin: 0px 10px;
        font-size: 18px;
        text-align: center;

        img {
            width: 67%;
            height: auto;
            margin: 0 10px 60px 25px;
        }
    }

    .fotos__inicio {
        margin-top: 15px;

        .fotos__inicio__ok--dif {
            display: block;

            img {
                width: 80%;
                height: auto;
                object-fit: contain;
                box-shadow: 0px 0px 24px 8px rgb(0 0 0 / 15%);
                margin: 40px 20px;
                border-radius: 10px;
            }

            p {
                font: 18px sans-serif;
                margin: 40px 10px;
                text-align: center;
            }
        }
    }

    .fotos__inicio--dis {
        display: flex;
        flex-direction: column-reverse;

        image {
            width: 80%;
            height: auto;
            object-fit: contain;
            box-shadow: 0px 0px 24px 8px rgb(0 0 0 / 15%);
            margin: 40px 20px;
            border-radius: 10px;
        }

        p {
            font-size: 18px;
        }
    }

    #subtitulos {
        display: flex;
    }

    .servicios {
        display: flex;
        flex-direction: column;
        column-gap: 10px;
        margin: 20px 70px;
        width: 90%;
    }

    .servicios__demandados {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .servicios__demandados__tipo p {
        width: 300px;
        font-size: 25px;
    }

    .servicios__demandados__cuerpo p {
        width: auto;
        font-size: 20px;
        font-weight: normal;
    }

    #pie {
        width: 100%;
    }

    .pie__pag {
        margin: 10px;
    }

    //Servicio (vista para desktop)

    .pic {
        img {
            width: auto;
            text-align: center;
            border-radius: 10px;
            margin: 30px 0px 30px 110px;
            box-shadow: 0px 0px 24px 8px rgb(0 0 0 / 15%);
        }
    }

    .menu__servicios ul li a {
        padding: 20px;
        transition: 0.5s;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #novias,
    #social,
    #quinceaneras,
    #artistico {
        animation: myAnim 2s ease 0s infinite normal forwards;

        @keyframes myAnim {
            0% {
                box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            }

            100% {
                box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
            }
        }
    }

    //Contacto (vista desktop)
    .parrafo-contacto {
        display: block;
        margin: 100px;

        p {
            font-size: 30px;
        }
    }

    .formulario {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 15px;
        width: auto;
        height: auto;
        margin: 30px 500px;
        background-color: whitesmoke;
        border-radius: 10px;
        box-shadow: 0px 0px 24px 8px rgb(0 0 0 / 15%);
    }

    .requerido {
        color: #000;
    }

    //Beauty Studio (vista desktop)
    .mapa {
        width: 100%;
    }

    iframe {
        display: block;
        margin: 0 300px;
        padding: 10px;
        width: 60%;
        height: 400px;
        background: #c5bebb;
    }

    //Portfolio (vista desktop)
    .carousel {
        width: 70%;
        margin: 30px 220px;
    }
}

// Fin query para desktop